*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header Start */

.header-top{
    width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 41px;
}

.container{
    width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-list{
    display: flex;
    align-items: center;
    list-style: none;   
}

.header-list-item{
    font-size: 17px;
    font-weight: 500;
    color:#373737;
    padding-bottom: 10px;
    margin-right: 70px;
}

.header-list-item:nth-child(1){
    border-bottom: 2px solid #717CFF;
}

.apply-btn{
    padding: 9px 35px;
    border: 1.5px solid #717CFF;
    border-radius: 11px;
    text-decoration: none;
    color: #373737;
}

/* Banner start */

.banner{
    display: flex;
}

.banner-title{
    width: 632px;
    font-size: 50px;
    font-weight: 900;
}

.banner-title-text-h1{
    margin: 0;
}

.banner-title-text{
    color: #717CFF;
    margin: 0;
}

.banner-start-text{
    width: 632px;
    font-size: 22px;
    font-weight: 500;
    color: #7D7D7D;
    margin-top: 40px;
}

.banner-btn-wrapper{
    width: 262px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 11px;
    background-color: #717CFF;
    margin-top: 42px;
}

.banner-btn-link{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

.banner-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 107px 0px 0px 0px;
}

.banner-list-item{
    margin-right: 25px;
}

 /* University start */

.university-section{
    background-color: #FAFAFA;
}

.university{
    width: 1180px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
}

.university-title{
    font-size: 23px;
    font-weight: 500;
    opacity: 0.73;
    color: #373737;
    margin: 0;
}

.university-list{
    width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 60px;
    padding: 0;
}

.university-list-item{
    margin-right: 65px;
}

.circle-wrapper{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 110px;
}

.circle-item{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #7c7c7c51;
}

.circle-item:nth-child(1){
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #717CFF;
}

/* Service start */

.service{
    width: 1180px;
    margin: 0 auto;
    padding-top: 122px;
    padding-bottom: 126px;
    text-align: center;
}

.service-title{
    font-size: 37px;
    margin: 0;
}

.service-text-wrapper{
    width: 950px;
    font-size: 22px;
    color: #7D7D7D;
    margin: 0 auto;
    margin-top: 25px;
}

.service-list{
    width: 1180px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
    text-align: start;
}

.service-list-item{
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px #0000000f;
    border-radius: 15px;
    margin-top: 50px;
    margin-right: 30px;
    padding: 30px 30px;
}

.service-list-item-text{
    width: 296px;
    color: #37474F;
    font-weight: 500;
}

.service-item-list-end{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.service-item-link{
    text-decoration: none;
}

.arrow-right{
    width: 25px;
    height: 25px;
}